body {
    background: lightgray;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
.post{
    background: white;
}
.container{
    width: 500px;
    margin: auto;
}
.post-header{
    display: flex;
    margin-top: 20px;
}
.post-header h2{
    padding: 10px;
    width: 80%;
    display: inline-block;
}
.post-header span{
    width: 20%;
    display: inline-block;
    text-align:right ;
    color: grey;
    margin-top: 40px;
    margin-right: 5px;
}
.post img{
    width: 100%;
}
.post p{
    padding: 10px;
    margin-top: 0;
}